In [19]:
import pandas as pd
from keplergl import KeplerGl
import geopandas as gpd

In [2]:
df_yoxi = pd.read_csv('/Users/guoyanting/Desktop/NTUDAC/比賽/和泰/rawData/和泰MaaS/yoxi.csv',engine='python',encoding='utf-8')

In [3]:
df_yoxi

,Unnamed: 0,行程編號,司機代號,乘客編號,行程開始時間,行程結束時間,上車經緯度,下車經緯度,行駛分鐘數,行駛公尺數,司機取消代碼,乘客取消代碼,叫車時間,訂單取消時間,乘車小費,乘客偏好代碼,乘車金額區間
0,0,0,383,8723,2021-01-01 00:07:36.093,2021-01-01 00:32:10.327,POINT (121.4746051 25.0320344),POINT (121.38387054204941 25.072492177337459),24,21362,0,0,2021-01-01 00:00:09.000,0,0,[],500-
1,1,1,572,527,2021-01-01 00:07:59.123,2021-01-01 00:20:51.403,POINT (121.5239014 25.0604492),POINT (121.50240808725357 25.029690875840863),12,5301,0,0,2021-01-01 00:02:49.000,0,0,[2],151-200
2,2,2,611,6503,2021-01-01 00:16:54.187,2021-01-01 00:51:33.957,POINT (121.3828662 25.0824284),POINT (121.552195250988 25.051453991714943),34,25203,0,0,2021-01-01 00:06:16.000,0,0,[],500-
3,3,3,466,7367,2021-01-01 00:13:43.367,2021-01-01 00:21:06.937,POINT (121.567227 25.040887),POINT (121.55984491109848 25.032937853645969),7,1936,0,0,2021-01-01 00:06:28.000,0,0,[2],1-100
4,4,4,108,10086,2021-01-01 00:12:42.530,2021-01-01 00:27:06.280,POINT (121.5148064 25.1189174),POINT (121.48896485567093 25.066568533988082),14,8522,0,0,2021-01-01 00:08:16.000,0,0,[],251-300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316273,316273,316273,1652,21288,2021-07-01 00:06:56.700,2021-07-01 00:23:36.907,POINT (121.5623108 24.9814686),POINT (121.5501271 25.0264547),16,7150,0,0,2021-06-30 23:59:00.860,0,0,[],201-250
316274,316274,316274,725,19379,2021-07-01 00:06:44.653,2021-07-01 00:19:19.260,POINT (121.48686166852711 25.07942393268447),POINT (121.47199183702469 25.057446072535619),12,4614,0,0,2021-06-30 23:59:08.053,0,0,[],151-200
316275,316275,316277,821,27002,2021-07-01 00:04:32.890,2021-07-01 00:23:57.653,POINT (121.497503058 25.0337386132),POINT (121.5385743 25.0332504),19,4967,0,0,2021-06-30 23:59:38.963,0,0,"[1,2]",151-200
316276,316276,316275,1079,14691,2021-07-01 00:03:57.537,2021-07-01 00:11:08.143,POINT (121.571393 25.0436989),POINT (121.5890604 25.04651),7,1887,0,0,2021-06-30 23:59:39.163,0,0,[],1-100
316277,316277,316276,177,508,2021-07-01 00:08:08.750,2021-07-01 00:19:17.227,POINT (121.588232 25.040905),POINT (121.5797975 25.0648205),11,3019,0,0,2021-06-30 23:59:41.390,0,0,[2],101-150

In [4]:
df_yoxi_1 = df_yoxi

In [5]:
df_yoxi_1['上車經緯度_1'] = df_yoxi['上車經緯度'].str.replace("POINT","")

In [6]:
df_yoxi_1['下車經緯度_1'] = df_yoxi['下車經緯度'].str.replace("POINT","")

In [7]:
df_yoxi_1['下車經緯度_2'] = df_yoxi_1['下車經緯度_1'].str.replace("(","")
df_yoxi_1['下車經緯度_2'] = df_yoxi_1['下車經緯度_2'].str.replace(")","")
df_yoxi_1['上車經緯度_2'] = df_yoxi_1['上車經緯度_1'].str.replace("(","")
df_yoxi_1['上車經緯度_2'] = df_yoxi_1['上車經緯度_2'].str.replace(")","")

/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_46528/3862449728.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_yoxi_1['下車經緯度_2'] = df_yoxi_1['下車經緯度_1'].str.replace("(","")
/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_46528/3862449728.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_yoxi_1['下車經緯度_2'] = df_yoxi_1['下車經緯度_2'].str.replace(")","")
/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_46528/3862449728.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_yoxi_1['上車經緯度_2'] = df_yoxi_1['上車經緯度_1'].str.replace("(","")
/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_46528/3862449728.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_yoxi_1['上車經緯度_2'] = df_yoxi_1['上車經緯度_2'].str.replace(")","")

In [8]:
df_yoxi_1[['Why','Why2']] = df_yoxi_1['上車經緯度_2'].str.split(' ',1,expand=True)
df_yoxi_1[['上車經度','上車緯度']] = df_yoxi_1['Why2'].str.split(' ',1,expand=True)

In [9]:
df_yoxi_1.drop(['Why','Why2'],axis=1)

,Unnamed: 0,行程編號,司機代號,乘客編號,行程開始時間,行程結束時間,上車經緯度,下車經緯度,行駛分鐘數,行駛公尺數,...,訂單取消時間,乘車小費,乘客偏好代碼,乘車金額區間,上車經緯度_1,下車經緯度_1,下車經緯度_2,上車經緯度_2,上車經度,上車緯度
0,0,0,383,8723,2021-01-01 00:07:36.093,2021-01-01 00:32:10.327,POINT (121.4746051 25.0320344),POINT (121.38387054204941 25.072492177337459),24,21362,...,0,0,[],500-,(121.4746051 25.0320344),(121.38387054204941 25.072492177337459),121.38387054204941 25.072492177337459,121.4746051 25.0320344,121.4746051,25.0320344
1,1,1,572,527,2021-01-01 00:07:59.123,2021-01-01 00:20:51.403,POINT (121.5239014 25.0604492),POINT (121.50240808725357 25.029690875840863),12,5301,...,0,0,[2],151-200,(121.5239014 25.0604492),(121.50240808725357 25.029690875840863),121.50240808725357 25.029690875840863,121.5239014 25.0604492,121.5239014,25.0604492
2,2,2,611,6503,2021-01-01 00:16:54.187,2021-01-01 00:51:33.957,POINT (121.3828662 25.0824284),POINT (121.552195250988 25.051453991714943),34,25203,...,0,0,[],500-,(121.3828662 25.0824284),(121.552195250988 25.051453991714943),121.552195250988 25.051453991714943,121.3828662 25.0824284,121.3828662,25.0824284
3,3,3,466,7367,2021-01-01 00:13:43.367,2021-01-01 00:21:06.937,POINT (121.567227 25.040887),POINT (121.55984491109848 25.032937853645969),7,1936,...,0,0,[2],1-100,(121.567227 25.040887),(121.55984491109848 25.032937853645969),121.55984491109848 25.032937853645969,121.567227 25.040887,121.567227,25.040887
4,4,4,108,10086,2021-01-01 00:12:42.530,2021-01-01 00:27:06.280,POINT (121.5148064 25.1189174),POINT (121.48896485567093 25.066568533988082),14,8522,...,0,0,[],251-300,(121.5148064 25.1189174),(121.48896485567093 25.066568533988082),121.48896485567093 25.066568533988082,121.5148064 25.1189174,121.5148064,25.1189174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316273,316273,316273,1652,21288,2021-07-01 00:06:56.700,2021-07-01 00:23:36.907,POINT (121.5623108 24.9814686),POINT (121.5501271 25.0264547),16,7150,...,0,0,[],201-250,(121.5623108 24.9814686),(121.5501271 25.0264547),121.5501271 25.0264547,121.5623108 24.9814686,121.5623108,24.9814686
316274,316274,316274,725,19379,2021-07-01 00:06:44.653,2021-07-01 00:19:19.260,POINT (121.48686166852711 25.07942393268447),POINT (121.47199183702469 25.057446072535619),12,4614,...,0,0,[],151-200,(121.48686166852711 25.07942393268447),(121.47199183702469 25.057446072535619),121.47199183702469 25.057446072535619,121.48686166852711 25.07942393268447,121.48686166852711,25.07942393268447
316275,316275,316277,821,27002,2021-07-01 00:04:32.890,2021-07-01 00:23:57.653,POINT (121.497503058 25.0337386132),POINT (121.5385743 25.0332504),19,4967,...,0,0,"[1,2]",151-200,(121.497503058 25.0337386132),(121.5385743 25.0332504),121.5385743 25.0332504,121.497503058 25.0337386132,121.497503058,25.0337386132
316276,316276,316275,1079,14691,2021-07-01 00:03:57.537,2021-07-01 00:11:08.143,POINT (121.571393 25.0436989),POINT (121.5890604 25.04651),7,1887,...,0,0,[],1-100,(121.571393 25.0436989),(121.5890604 25.04651),121.5890604 25.04651,121.571393 25.0436989,121.571393,25.0436989
316277,316277,316276,177,508,2021-07-01 00:08:08.750,2021-07-01 00:19:17.227,POINT (121.588232 25.040905),POINT (121.5797975 25.0648205),11,3019,...,0,0,[2],101-150,(121.588232 25.040905),(121.5797975 25.0648205),121.5797975 25.0648205,121.588232 25.040905,121.588232,25.040905

In [10]:
df_yoxi_1[['Why','Why2']] = df_yoxi_1['下車經緯度_2'].str.split(' ',1,expand=True)
df_yoxi_1[['下車經度','下車緯度']] = df_yoxi_1['Why2'].str.split(' ',1,expand=True)

In [16]:
df_yoxi_1 = df_yoxi_1.drop(['上車經緯度_1','下車經緯度_1', '下車經緯度_2', '上車經緯度_2'],axis=1)

In [17]:
df_yoxi_1 = df_yoxi_1.drop(['Why','Why2'],axis=1)
df_yoxi_1

,Unnamed: 0,行程編號,司機代號,乘客編號,行程開始時間,行程結束時間,上車經緯度,下車經緯度,行駛分鐘數,行駛公尺數,...,乘客取消代碼,叫車時間,訂單取消時間,乘車小費,乘客偏好代碼,乘車金額區間,上車經度,上車緯度,下車經度,下車緯度
0,0,0,383,8723,2021-01-01 00:07:36.093,2021-01-01 00:32:10.327,POINT (121.4746051 25.0320344),POINT (121.38387054204941 25.072492177337459),24,21362,...,0,2021-01-01 00:00:09.000,0,0,[],500-,121.4746051,25.0320344,121.38387054204941,25.072492177337459
1,1,1,572,527,2021-01-01 00:07:59.123,2021-01-01 00:20:51.403,POINT (121.5239014 25.0604492),POINT (121.50240808725357 25.029690875840863),12,5301,...,0,2021-01-01 00:02:49.000,0,0,[2],151-200,121.5239014,25.0604492,121.50240808725357,25.029690875840863
2,2,2,611,6503,2021-01-01 00:16:54.187,2021-01-01 00:51:33.957,POINT (121.3828662 25.0824284),POINT (121.552195250988 25.051453991714943),34,25203,...,0,2021-01-01 00:06:16.000,0,0,[],500-,121.3828662,25.0824284,121.552195250988,25.051453991714943
3,3,3,466,7367,2021-01-01 00:13:43.367,2021-01-01 00:21:06.937,POINT (121.567227 25.040887),POINT (121.55984491109848 25.032937853645969),7,1936,...,0,2021-01-01 00:06:28.000,0,0,[2],1-100,121.567227,25.040887,121.55984491109848,25.032937853645969
4,4,4,108,10086,2021-01-01 00:12:42.530,2021-01-01 00:27:06.280,POINT (121.5148064 25.1189174),POINT (121.48896485567093 25.066568533988082),14,8522,...,0,2021-01-01 00:08:16.000,0,0,[],251-300,121.5148064,25.1189174,121.48896485567093,25.066568533988082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316273,316273,316273,1652,21288,2021-07-01 00:06:56.700,2021-07-01 00:23:36.907,POINT (121.5623108 24.9814686),POINT (121.5501271 25.0264547),16,7150,...,0,2021-06-30 23:59:00.860,0,0,[],201-250,121.5623108,24.9814686,121.5501271,25.0264547
316274,316274,316274,725,19379,2021-07-01 00:06:44.653,2021-07-01 00:19:19.260,POINT (121.48686166852711 25.07942393268447),POINT (121.47199183702469 25.057446072535619),12,4614,...,0,2021-06-30 23:59:08.053,0,0,[],151-200,121.48686166852711,25.07942393268447,121.47199183702469,25.057446072535619
316275,316275,316277,821,27002,2021-07-01 00:04:32.890,2021-07-01 00:23:57.653,POINT (121.497503058 25.0337386132),POINT (121.5385743 25.0332504),19,4967,...,0,2021-06-30 23:59:38.963,0,0,"[1,2]",151-200,121.497503058,25.0337386132,121.5385743,25.0332504
316276,316276,316275,1079,14691,2021-07-01 00:03:57.537,2021-07-01 00:11:08.143,POINT (121.571393 25.0436989),POINT (121.5890604 25.04651),7,1887,...,0,2021-06-30 23:59:39.163,0,0,[],1-100,121.571393,25.0436989,121.5890604,25.04651
316277,316277,316276,177,508,2021-07-01 00:08:08.750,2021-07-01 00:19:17.227,POINT (121.588232 25.040905),POINT (121.5797975 25.0648205),11,3019,...,0,2021-06-30 23:59:41.390,0,0,[2],101-150,121.588232,25.040905,121.5797975,25.0648205

In [18]:
df_yoxi_1.describe()

,Unnamed: 0,行程編號,司機代號,乘客編號,行駛分鐘數,行駛公尺數,司機取消代碼,乘客取消代碼,乘車小費
count,316278.000000,316278.000000,316278.000000,316278.000000,316278.000000,3.162780e+05,316278.000000,316278.000000,316278.000000
mean,158138.500000,158138.500000,644.433271,11081.490603,11.003136,1.057716e+04,0.040945,0.091195,0.225874
std,91301.738557,91301.738557,412.759719,7441.192810,8.511148,2.567958e+06,0.506273,0.334870,3.329831
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,79069.250000,79069.250000,297.000000,4908.000000,5.000000,1.645000e+03,0.000000,0.000000,0.000000
50%,158138.500000,158138.500000,624.000000,9826.000000,10.000000,3.349000e+03,0.000000,0.000000,0.000000
75%,237207.750000,237207.750000,920.000000,16983.000000,15.000000,5.998000e+03,0.000000,0.000000,0.000000
max,316277.000000,316277.000000,1815.000000,27451.000000,981.000000,1.303668e+09,10.000000,5.000000,520.000000

In [27]:
df_yoxi_2 = df_yoxi_1

In [28]:
df_yoxi_2.dropna(inplace=True)

In [29]:
df_yoxi_2.drop_duplicates(inplace=True)

In [30]:
df_yoxi_2

,Unnamed: 0,行程編號,司機代號,乘客編號,行程開始時間,行程結束時間,上車經緯度,下車經緯度,行駛分鐘數,行駛公尺數,...,乘客取消代碼,叫車時間,訂單取消時間,乘車小費,乘客偏好代碼,乘車金額區間,上車經度,上車緯度,下車經度,下車緯度
0,0,0,383,8723,2021-01-01 00:07:36.093,2021-01-01 00:32:10.327,POINT (121.4746051 25.0320344),POINT (121.38387054204941 25.072492177337459),24,21362,...,0,2021-01-01 00:00:09.000,0,0,[],500-,121.4746051,25.0320344,121.38387054204941,25.072492177337459
1,1,1,572,527,2021-01-01 00:07:59.123,2021-01-01 00:20:51.403,POINT (121.5239014 25.0604492),POINT (121.50240808725357 25.029690875840863),12,5301,...,0,2021-01-01 00:02:49.000,0,0,[2],151-200,121.5239014,25.0604492,121.50240808725357,25.029690875840863
2,2,2,611,6503,2021-01-01 00:16:54.187,2021-01-01 00:51:33.957,POINT (121.3828662 25.0824284),POINT (121.552195250988 25.051453991714943),34,25203,...,0,2021-01-01 00:06:16.000,0,0,[],500-,121.3828662,25.0824284,121.552195250988,25.051453991714943
3,3,3,466,7367,2021-01-01 00:13:43.367,2021-01-01 00:21:06.937,POINT (121.567227 25.040887),POINT (121.55984491109848 25.032937853645969),7,1936,...,0,2021-01-01 00:06:28.000,0,0,[2],1-100,121.567227,25.040887,121.55984491109848,25.032937853645969
4,4,4,108,10086,2021-01-01 00:12:42.530,2021-01-01 00:27:06.280,POINT (121.5148064 25.1189174),POINT (121.48896485567093 25.066568533988082),14,8522,...,0,2021-01-01 00:08:16.000,0,0,[],251-300,121.5148064,25.1189174,121.48896485567093,25.066568533988082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316273,316273,316273,1652,21288,2021-07-01 00:06:56.700,2021-07-01 00:23:36.907,POINT (121.5623108 24.9814686),POINT (121.5501271 25.0264547),16,7150,...,0,2021-06-30 23:59:00.860,0,0,[],201-250,121.5623108,24.9814686,121.5501271,25.0264547
316274,316274,316274,725,19379,2021-07-01 00:06:44.653,2021-07-01 00:19:19.260,POINT (121.48686166852711 25.07942393268447),POINT (121.47199183702469 25.057446072535619),12,4614,...,0,2021-06-30 23:59:08.053,0,0,[],151-200,121.48686166852711,25.07942393268447,121.47199183702469,25.057446072535619
316275,316275,316277,821,27002,2021-07-01 00:04:32.890,2021-07-01 00:23:57.653,POINT (121.497503058 25.0337386132),POINT (121.5385743 25.0332504),19,4967,...,0,2021-06-30 23:59:38.963,0,0,"[1,2]",151-200,121.497503058,25.0337386132,121.5385743,25.0332504
316276,316276,316275,1079,14691,2021-07-01 00:03:57.537,2021-07-01 00:11:08.143,POINT (121.571393 25.0436989),POINT (121.5890604 25.04651),7,1887,...,0,2021-06-30 23:59:39.163,0,0,[],1-100,121.571393,25.0436989,121.5890604,25.04651
316277,316277,316276,177,508,2021-07-01 00:08:08.750,2021-07-01 00:19:17.227,POINT (121.588232 25.040905),POINT (121.5797975 25.0648205),11,3019,...,0,2021-06-30 23:59:41.390,0,0,[2],101-150,121.588232,25.040905,121.5797975,25.0648205

In [20]:
kepler_map = KeplerGl(height=400)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl()

In [36]:
df_yoxi_3 = df_yoxi_2[['上車經度', '上車緯度', '下車經度', '下車緯度']].astype('float')
df_yoxi_3

              上車經度       上車緯度        下車經度       下車緯度
0       121.474605  25.032034  121.383871  25.072492
1       121.523901  25.060449  121.502408  25.029691
2       121.382866  25.082428  121.552195  25.051454
3       121.567227  25.040887  121.559845  25.032938
4       121.514806  25.118917  121.488965  25.066569
...            ...        ...         ...        ...
316273  121.562311  24.981469  121.550127  25.026455
316274  121.486862  25.079424  121.471992  25.057446
316275  121.497503  25.033739  121.538574  25.033250
316276  121.571393  25.043699  121.589060  25.046510
316277  121.588232  25.040905  121.579797  25.064820

[309237 rows x 4 columns]

In [37]:
kepler_map.add_data(data=df_yoxi_3, name="Yoxi")

In [39]:
kepler_map.save_to_html(file_name='Yoxi.html', 
                        data={"Yoxi": df_yoxi_3}
                        )

Map saved to Yoxi.html!

In [35]:
print(type(df_yoxi_2.at[0,'上車經度']))

<class 'str'>

In [40]:
df = pd.DataFrame(
    {'City': ['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas'],
     'Country': ['Argentina', 'Brazil', 'Chile', 'Colombia', 'Venezuela'],
     'Latitude': [-34.58, -15.78, -33.45, 4.60, 10.48],
     'Longitude': [-58.66, -47.91, -70.66, -74.08, -66.86],
     'Time': ['2019-09-01 08:00','2019-09-01 09:00','2019-09-01 10:00','2019-09-01 11:00', '2019-09-01 12:00']
    })

In [41]:
w1 = KeplerGl(height=600, data={'data_1': df})
w1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':            City    Country  Latitude  Longitude              Time
0  Buenos Aires  Ar…

In [42]:
w1.save_to_html(file_name='keplergl_map.html')

Map saved to keplergl_map.html!